{% extends 'base/layout.html' %}

{% block page-title %}ABOUT US{% endblock %}

{% block header-link %}{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div id="main-box">

                <h3>ABOUT US</h3>

                <br/>


                <p style="text-align: justify;">

                    With almost a decade operating in international markets, Jana General Trading LLC is a trading company born from desire and ambition of its founders to bring markets closer, establishing close and trusting relationships, and enhancing the best opportunities and investments in the areas of new technologies, equipment and  services related with the telecommunications sector.

                    JANA is nowadays an important and recognized company and leading edge equipment & technology supplier to the Caribbean, namely Dominicana, and Europe (France and Portugal) and the United States of America.

                    Benefiting from the trust of our suppliers and partners,  JANA is highly specialized in the equipment market and new technologies related with telecommunications area, especially software material, such as PSU`S Repeaters, cellphones, SIM Cards, batteries, as well as other specialized equipments.



                    Headquartered in United Arabe Emirate. We are privately owned, with a decade of experience,  giving us a unique global perspective on the markets we serve.

                    By defining market opportunities and delivering positive results we have earned the trust and respect of our valued business partners, both customers and suppliers. We consistently support them by navigating through the changing market conditions of an industry in continuous transformation. Our responsiveness and expertise has established us as one of the most sophisticated and reliable trading companies in our region and our future horizons are unlimited.



                    We value integrity, hard work and perseverance, and welcome the continuing challenges and opportunities that inspire our business every day. We have the resources and solutions that can benefit our customers whether they are starting a new business or expanding an existing one. Our mission is to ensure our customers’ commercial growth and success by providing the best products and services tailored to their needs.</p>


            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}
