{% extends 'base/layout.html' %}

{% block header_logo %}{{ site_setting.header_logo.url }}{% endblock %}
{% block header_phone_number %}{{ site_setting.header_phone_umber }}{% endblock %}
{% block header_email %}{{ site_setting.header_email }}{% endblock %}
{% block header_address %}{{ site_setting.header_address }}{% endblock %}
{% block footer_license %}{{ site_setting.footer_license }}{% endblock %}
{% block site_favicon %}{{ site_setting.favicon.url }}{% endblock %}


{% block slider %}
    {% for img in slider_images %}
        <div class="carousel-item {% if forloop.first %}active{% endif %} bd-container-inner-wrapper">
            <img style="object-fit: cover;" width="1829px" height="445px" src="{{ img.image.url }}" alt="Image 1">
        </div>
    {% endfor %}
{% endblock %}

{% block page_name2 %}active-page{% endblock %}

{% block page-title %}ABOUT US{% endblock %}

{% block header-link %}{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div id="main-box">

                <h3>ABOUT US</h3>

                <br/>

                {% if about_us_setting.header1 %}
                    <h4 style="text-align: center;">{{ about_us_setting.header1 }}</h4>
                {% endif %}

                <br/>

                {% if about_us_setting.body1 %}
                    <p style="text-align: justify;">{{ about_us_setting.body1 }}</p>
                {% endif %}

                <br/>

                {% if about_us_setting.header2 %}
                    <h4 style="text-align: center;">{{ about_us_setting.header2 }}</h4>
                {% endif %}

                <br/>

                {% if about_us_setting.body2 %}
                    <p style="text-align: justify;">{{ about_us_setting.body2 }}</p>
                {% endif %}

                <br/>

                {% if about_us_setting.header3 %}
                    <h4 style="text-align: center;">{{ about_us_setting.header3 }}</h4>
                {% endif %}

                <br/>

                {% if about_us_setting.body3 %}
                    <p style="text-align: justify;">{{ about_us_setting.body3 }}</p>
                {% endif %}

                <br/>

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}
