{% extends 'base/layout.html' %}

{% block header_logo %}{{ site_setting.header_logo.url }}{% endblock %}
{% block header_phone_number %}{{ site_setting.header_phone_umber }}{% endblock %}
{% block header_email %}{{ site_setting.header_email }}{% endblock %}
{% block header_address %}{{ site_setting.header_address }}{% endblock %}
{% block footer_license %}{{ site_setting.footer_license }}{% endblock %}
{% block site_favicon %}{{ site_setting.favicon.url }}{% endblock %}
{% block site_thumbnail %}{{ site_setting.favicon.url }}{% endblock %}

{% block slider %}
    {% for img in slider_images %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ img.image.url }}" alt="Image 1">
        </div>
    {% endfor %}
{% endblock %}



{% block header-link %}{% endblock %}

{% block page-title %}HOME{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-2">
            <div class="row">
                <div class="col-12">
                    <p id="contact-us-header">CONTACT US!</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-12">
                    <div class="contact-us-box">

                        <form method="post" action="{% url 'home' %}">
                            {% csrf_token %}

                            {{ form.name }}
                            {{ form.name.errors }}

                            <br/>

                            {{ form.email }}
                            {{ form.email.errors }}

                            <br/>
                            {{ form.message }}
                            {{ form.message.errors }}



                            <br/>

                            <button class="btn btn-secondary" type="submit">Send</button>
                        </form>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">

            <div id="main-box">

                <br/>

                {% if home_setting.header1 %}
                    <h4 style="text-align: center;">{{ home_setting.header1 }}</h4>
                {% endif %}

                <br/>

                {% if home_setting.body1 %}
                    <p style="text-align: justify;">{{ home_setting.body1 }}</p>
                {% endif %}

                <br/>

                {% if home_setting.header2 %}
                    <h4 style="text-align: center;">{{ home_setting.header2 }}</h4>
                {% endif %}

                <br/>

                {% if home_setting.body2 %}
                    <p style="text-align: justify;">{{ home_setting.body2 }}</p>
                {% endif %}

                <br/>

                {% if home_setting.header3 %}
                    <h4 style="text-align: center;">{{ home_setting.header3 }}</h4>
                {% endif %}

                <br/>

                {% if home_setting.body3 %}
                    <p style="text-align: justify;">{{ home_setting.body3 }}</p>
                {% endif %}

                <br/>

            </div>
        </div>

        <div class="col-md-2"></div>

    </div>
{% endblock %}