{% extends 'base/layout.html' %}

{% block page-title %}OUR SERVIECES{% endblock %}

{% block header-link %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div id="main-box">

                <h3>OUR SERVICES</h3>

                <br/>


                <p style="text-align: justify;">


                    SERVICES THAT ENHANCE OUR PRODUCTS

                    We focus on creating real value for our customers with services that complement the high quality products we offer. Each of our Business Groups is a well-developed team of Sales  always providing competitive quotes upon request, Transportation and Technical Service Specialists collaborating together to provide fresh ideas and innovative solutions to support our customers’ business growth.



                    "A Superior Range of Services Unmatched By Our Competition"



                    LOGISTICS
                    We support and advise with the world’s largest freight carriers to confidently move our products from their origin to our customers’ door at the most competitive rates available. Using today’s advanced logistics systems, we accurately track and deliver shipments on schedule to efficiently improve our customers’ supply chain process.



                    STRATEGICALLY LOCATED INVENTORIES
                    We maintain strategically located inventories of the most recognized brands in the industry. Our broad base of products for on-demand shipment gives our customers the most cost-effective and timely options to improve their production or facility planning process.



                    TECHNICAL SERVICES
                    Our trained technicians work conjointly with our customers performing services that include advisory, technical support, installation, training, ongoing technical support, and preventive maintenance.            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
